.App {
	position: relative;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.light {
	/* --bg-color: #fff; */
	--bg-color: #f4f5f7;
	--text-color: #1a1a1e;
	--text-secondary-color: #51525c;
	--ph-color: #70707b;
	--ph-dis-color: #d1d1d6;
	background-color: var(--bg-color);
	height: 100vh;
}

.dark {
	--bg-color: #1a1a1e;
	--text-color: #fafafa;
	--text-secondary-color: #a0a0ab;
	--text-disabled-color: #3f3f46;
	background-color: var(--bg-color);
	height: 100vh;
}

.mode {
	position: absolute;
	top: 20px;
	left: 20px;
}
